In [2]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
pwd

'C:\\Users\\a1055035\\OneDrive - PROD - sensata.com Azure AD (sso.sensata.com) (Not O365)\\My Documents\\GitHub\\Electric-five\\01 data'

In [4]:
Df_Main = pd.read_csv('EnegeryMasterfile.csv')

In [5]:
Lines = int (input ('How many years ?:'))

How many years ?:5

In [6]:
#print(' number of lines added  ' + Lines)
#Change = input ('What is the rate of change in % ?:' )
#print (' the moving 5 year avergae is increased by ' + Change + '%'   )

In [7]:
Df_Main = Df_Main.set_index ('Year')

In [8]:
Df_Main

,Total_NL,Total_Consumption,NaturalGas_Consumption,Electricity_Consumption,RenewableEnergy_Consumption,Heat_Consumption,Total number of Electric Vehicles in Dutch passenger car fleet,Percentage of total passenger car fleet in the NL,GDP in million euros,Temperature,Total population (number),Private households *1000,One-person households*1000,Multi-person households*1000,Average household size
Year,,,,,,,,,,,,,,,
1990,435.2,29.22,23.52,3.79,0.87,0.32,NaN,NaN,321405,10.9,14892574,6061,1813,4249,2.42
1991,491.6,32.75,26.99,3.90,0.86,0.31,NaN,NaN,331097,9.5,15010445,6164,1844,4320,2.04
1992,460.7,30.45,24.61,3.95,0.85,0.40,NaN,NaN,331994,10.5,15129150,6266,1913,4353,2.38
1993,482.4,31.66,25.68,4.02,0.86,0.43,NaN,NaN,355931,9.6,15239182,6368,1968,4401,2.36
1994,458.7,29.90,23.91,4.13,0.87,0.44,NaN,NaN,382550,10.6,15341553,6445,2003,4442,2.35
1995,493.1,31.97,26.09,4.22,0.88,0.40,NaN,NaN,469502,10.4,15424122,6469,2109,4360,2.35
1996,564.4,36.43,30.41,4.27,0.90,0.50,NaN,NaN,485928,8.6,15493889,6518,2124,4394,2.34
1997,487.8,31.34,25.39,4.33,0.91,0.44,NaN,NaN,506964,10.3,15567107,6581,2158,4423,2.33
1998,469.7,30.00,24.01,4.39,0.91,0.44,NaN,NaN,530609,10.4,15654192,6656,2201,4455,2.32
1999,452.0,28.68,22.63,4.48,0.91,0.43,NaN,NaN,557320,10.9,15760225,6745,2255,4491,2.03
2000,453.1,28.56,22.45,4.54,0.91,0.45,NaN,NaN,580703,10.9,15863950,6801,2272,4529,2.03
2001,477.4,29.86,23.68,4.57,0.91,0.51,NaN,NaN,594216,10.4,15987075,6867,2307,4560,2.03
2002,466.0,28.93,22.68,4.68,0.90,0.50,NaN,NaN,595507,10.8,16105285,6934,2345,4589,2.29
2003,477.4,29.48,23.10,4.76,0.93,0.55,NaN,NaN,596434,10.3,16192572,6996,2384,4612,2.28
2004,462.1,28.42,22.00,4.76,0.97,0.56,NaN,NaN,608273,10.3,16258032,7049,2424,4625,2.28
2005,449.6,27.57,21.09,4.80,1.02,0.54,NaN,NaN,620748,10.7,16305526,7091,2449,4642,2.27
2006,454.1,27.80,21.22,4.86,1.07,0.54,NaN,NaN,642232,11.2,16334210,7146,2502,4644,2.26
2007,417.6,25.53,18.92,4.89,1.08,0.53,NaN,NaN,666462,11.2,16357992,7191,2537,4654,2.25
2008,461.2,28.11,21.38,4.93,1.09,0.60,NaN,NaN,680926,10.6,16405399,7242,2571,4671,2.24
2009,461.8,28.01,21.18,4.99,1.12,0.61,NaN,NaN,655958,10.5,16485787,7313,2619,4693,2.23
2010,522.6,31.53,24.54,4.98,1.15,0.74,NaN,NaN,664765,9.1,16574989,7386,2670,4717,2.22
2011,430.5,25.85,18.97,4.97,1.18,0.63,NaN,NaN,675077,10.9,16655799,7444,2708,4736,2.21
2012,455.0,27.20,20.20,5.00,1.17,0.72,NaN,NaN,668121,10.3,16730348,7513,2762,4751,2.02
2013,477.9,28.48,21.39,4.95,1.21,0.81,NaN,NaN,667252,9.8,16779575,7569,2802,4767,2.19
2014,381.7,22.68,15.91,4.78,1.25,0.65,NaN,NaN,676749,11.7,16829289,7590,2804,4786,2.18
2015,399.7,23.65,16.88,4.66,1.30,0.72,NaN,NaN,690008,10.9,16900726,7665,2868,4797,2.17
2016,411.9,24.26,17.50,4.58,1.35,0.72,108990.0,1.33,705131,10.7,16979120,7721,2906,4814,2.17
2017,403.1,23.60,16.88,4.49,1.44,0.70,117885.0,1.41,725657,11.0,17081507,7794,2961,4833,2.16
2018,403.8,23.50,16.67,4.40,1.62,0.73,138272.0,1.63,742789,11.4,17181084,7858,2998,4860,2.15
2019,389.7,22.55,15.63,4.34,1.79,0.70,197068.0,2.29,755248,11.2,17282163,7925,3038,4887,2.15
2020,NaN,NaN,NaN,NaN,NaN,NaN,273259.0,3.13,726992,11.7,17407585,7998,3080,4918,2.14
2021,NaN,NaN,NaN,NaN,NaN,NaN,275647.0,3.16,768896,5.2,17407585,7998,3080,4918,2.14

In [9]:
Table5 = Df_Main.tail(5)

In [10]:
# for Lines in Table5.index  <- Loop inside a table

SyntaxError: invalid syntax (<ipython-input-10-89e07cb8c6ae>, line 1)

In [ ]:
#Avg_5 = Table5.mean()

In [ ]:
#Avg_5

In [ ]:
    Avg_501 =Table5.mean() + 0.01*(Table5.mean())

In [ ]:
#Avg_501

In [ ]:
    Table5 = Table5.append(Avg_501 , ignore_index= True)

In [ ]:
    Table5